        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #beecca;
            color: #e0e0e0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        header {
            background: linear-gradient(135deg, #6200ea, #03dac5);
            color: #ffffff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
        }
/*         header h1 {
            margin: 0;
            font-size: 2.5em;
            font-weight: bold;
            color: white;
        }
        header {
            background: linear-gradient(135deg, #6200ea, #03dac5);
            color: #ffffff;
            display: flex;
            align-items: center;
            padding: 20px;
        } */
        header a {
            text-decoration: none;
            color: #ffffff;
            font-size: 1.5em;
            font-weight: bold;
            margin-left: 20px;
            transition: color 0.3s ease;
        }
        /* header a:hover {
            color: #ffcc00;
        } */
        .follow-section {
            margin: 0;
        }
        .follow-section a {
            text-decoration: none;
            background: linear-gradient(135deg, #03dac5, #6200ea);
            color: #fff;
            padding: 12px 20px;
            border-radius: 8px;
            font-size: 1.1em;
            font-weight: bold;
            transition: background 0.3s ease;
        }
        .follow-section a:hover {
            background: linear-gradient(135deg, #6200ea, #03dac5);
        }
        .content {
            padding: 30px;
            max-width: 900px;
            max-height: 400px;
            margin: auto;
            background: linear-gradient(135deg, #6200ea, #03dac5);
            border-radius: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            flex: 1;
        }
        .content h2 {
            text-align: center;
            color: #03dac5;
            font-size: 2em;
            margin-bottom: 20px;
        }
        .content p {
            line-height: 1.8;
            text-align: justify;
        }
        footer {
            text-align: center;
            padding: 20px 0;
            background-color: #03dac5;
            color: black;
            font-size: 0.9em;
            position: sticky;
            bottom: 0;
        }
